body {
	background-color: black;
	font-family: Helvetica;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
	background: rgb(119, 119, 119);
	border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
	background: #FF2B06;
}

.countdown {
	text-align: center;
	margin-top: 30px;
	padding: 60px 0;
}

.countdown_container {
	background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 300px;
}

.styled div {
	display: inline-block;
	margin-left: 10px;
	font-size: 70px;
	font-weight: normal;
	text-align: center;
	margin: 0 15px;
	padding: 0 30px;
	color: #fff;
	text-shadow: none;
	vertical-align: middle;
	text-transform: uppercase;
}

.styled div span {
	display: block;
	padding-top: 3px;
	font-size: 19px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #d9d9d9;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #d9d9d9;
}

#subscribe input {
	/* background: rgba(255, 255, 255, 0.52); */
	color: #212121;
	vertical-align: middle;
	width: 280px;
	border: 1px solid #212121;
	padding: 10px;
	font-size: 14px;
}

#subscribe input[type="button"] {
	background: rgba(255, 255, 255, 1);
	width: auto;
	padding: 10px 25px;
	cursor: pointer;
	margin: 0 0 0 -6px;
	font-weight: bold;
	font-size: 14px;
	color: #888;
}

#subscribe input[type="button"]:hover {
	background: #1e7ccd;
	color: #fff;
	border: 1px solid #1e7ccd;
}

#subscribe input[type="submit"] {
	width: 132px;
	margin-left: -1px;
	background: #FF2B06;
	border: 1px #FF2B06 solid;
	color: #fff;
}

@media(max-width:420px) {
	#subscribe input[type="button"] {
		margin-top: 10px;
	}

	#subscribe input {
		width: 80%;
	}
}

.icons:hover {
	color: #f36046 !important;
	transition: 0.5s;
}